## Projeto da aula de data sience em 2025:

## Exploração dos dados:

#### Importado as dependencias:

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

#### Lendo os arquivos:

In [20]:
acidentes = pd.read_csv('./csv/acidentes_2022.csv')
localidades  = pd.read_csv('./csv/localidades_2022.csv')
tipo_veiculos = pd.read_csv('./csv/tipo_veiculo.csv')
vitimas = pd.read_csv('./csv/vitimas_2022.csv')

/tmp/ipykernel_10856/2929211778.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  acidentes = pd.read_csv('./csv/acidentes_2022.csv')

1. Menu lateral com seleção de estado  
  - Utilize o componente `st.sidebar()`  
  - Adicione um menu suspenso com `st.sidebar.selectbox()` contendo os estados disponíveis no dataset  
  - Quando um estado for selecionado (por exemplo, "RO"), os gráficos devem ser atualizados para exibir apenas os dados desse estado  
2. Gráfico: Acidentes por população
  - Mostre os 5 municípios com maior índice de acidentes relativos à população.
  - Esse gráfico deve ser atualizado conforme o estado selecionado.
3.  Gráfico: Acidentes por frota de veículos
  - Mostre os 5 municípios com maior índice de acidentes relativos à frota de veículos.
  - Atualize o gráfico de acordo com o estado selecionado.
4. Mapa dos acidentes
  - Utilize o componente st.map().
  - Exiba no mapa a localização dos acidentes com base no dataframe de acidentes filtrado pelo estado selecionado.

In [30]:
# Agrupar os dados por município, para realizar a contagem dos acidentes
acidentes_por_cidades = acidentes.\
    groupby('codigo_ibge').\
    size().\
    reset_index(name='total_acidentes')

# Exclusão dos registros duplicados
munipios_unicos = localidades[['codigo_ibge', 'municipio', 'uf']].\
    drop_duplicates(subset='codigo_ibge')

# Junção das duas tabelas
acidentes_por_cidades = pd.merge(
    acidentes_por_cidades,
    munipios_unicos,
    on='codigo_ibge'
)


# Ordenação dos municipios pela quantidade de acidentes
acidentes_por_cidades.sort_values(
    by='total_acidentes', 
    ascending=False,
    inplace=True)

acidentes_por_cidades

      codigo_ibge  total_acidentes           municipio  uf
1780      3106200            68983      BELO HORIZONTE  MG
4848      5300108            55518            BRASILIA  DF
4696      5208707            30020             GOIANIA  GO
3282      3550308            29208           SAO PAULO  SP
3457      4106902            26978            CURITIBA  PR
...           ...              ...                 ...  ..
1180      2514305                1  SAO JOSE DE CAIANA  PB
1178      2514008                1  SAO JOAO DO CARIRI  PB
1176      2513968                1        SAO DOMINGOS  PB
1174      2513851                1         SANTO ANDRE  PB
4085      4301875                1     BARRA DO QUARAI  RS

[4849 rows x 4 columns]

In [31]:

veiculos = localidades[['codigo_ibge', 'municipio', 'frota_total']].drop_duplicates(subset='codigo_ibge')

df_veiculos = pd.merge(acidentes_por_cidades, veiculos, on=['codigo_ibge', 'municipio'], how='left')

df_veiculos = df_veiculos[df_veiculos['frota_total'] > 0].copy()

df_veiculos['acidentes_por_mil_veic'] = (df_veiculos['total_acidentes'] / df_veiculos['frota_total']) * 1000

top5_veiculos = df_veiculos.sort_values(by='acidentes_por_mil_veic', ascending=False).head(5)
top5_veiculos.head()

,codigo_ibge,total_acidentes,municipio,uf,frota_total,acidentes_por_mil_veic
3486,1400704,6,UIRAMUTA,RR,75,80.000000
4210,1502509,2,CHAVES,PA,26,76.923077
1213,3119609,60,CORONEL PACHECO,MG,819,73.260073
137,4213500,1071,PORTO BELO,SC,18774,57.046980
2649,3142502,15,MONJOLOS,MG,267,56.179775